# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Environments
venv/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Streamlit cache
.streamlit/

# OS-specific or IDE-specific
.DS_Store
.idea/
